body{
    background-color: hsl(30, 54%, 90%);
    font-family: serif 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

div.container{
    margin: 5% 25% 5% 25%;
    
}
div.front{
    padding: 5%;
    background-color: white;
    border: 2px solid white;
    border-radius: 15px;
}
div.front img{
    width: 100%;
    border: 2px solid white;
    border-radius: 15px;
}
div.pre {
    background-color:hsl(330, 100%, 98%);
    border: 2px solid hsl(330, 100%, 98%);
    border-radius: 15px;
}

.prehed{
    color: hsl(332, 51%, 32%);
    padding-left: 25px;
}
h4.same{
    color: brown;
    font-size: 25px;
    padding: 0px;
    margin-top: 20px;
    margin-bottom: 0px;
}
ul.a{
     color:hsl(332, 51%, 32%) ; 
}
li{
    padding: 8px;
}

table{
    width: 100%;
    border-collapse: collapse;
}
td{
   padding: 8px;
   border-bottom: 1px solid black;
   
}